.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login h1{
    font-size: 5rem;
    margin: 1.5rem;
    margin-bottom: 0;
}

.login span{
    color: #38b6ff;
}

.form_container{
    margin: 5rem 0rem;
    border: #38b6ff 2px solid;
    background-color: aliceblue;
    padding: 20px;
    border-radius: 30px;
    width: 40%;
    height: 45%;
    box-shadow: 0px 0px 10px 0px #d9d9d9;
    text-align: center;
    margin-top: 1px;
}

.title_container {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
}

.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.login form p{
    font-size: 1.5rem;
    margin: 0;
}

.login form input{
    width: 80%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 30px;
    font-size: 1.2rem;
    border: #d9d9d9 1px solid;
}

.login form button{
    width: 40%;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 50px;
    background-color: #38b6ff;
    color: white;
    font-size: 1.5rem;
    border: #38b6ff 1px solid;
    justify-self: end;
    margin-top: 40px;
    transition: background-color 0.3s;
}

.login form button:hover{
    background-color: aliceblue;
    border: #38b6ff 1px solid;
    color: #38b6ff;
    cursor: pointer;
}

.login_status{
    font-size: 1.3em;
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
    color: white;
}

