.facturacion-container {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 2rem;
}

.product-section {
  flex: 2;
  margin-top: 15vh;
  margin-left: -30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-section {
  flex: 1;
  margin-top: 15vh;
  margin-left: -60vh;
}

.registro-section {
  position: absolute; 
  bottom: -20px;  
  right: 44%;
  width: 100px; /* Tamaño fijo */
  border-radius: 8px;
}

.documento-section {
  position: absolute;  
  bottom: -20px;
  right: 18%;
  width: 100px;
  border-radius: 8px;
}

.button-container2 {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 40vh;
  margin-top: 7vh;
  position: absolute;
}

.cancel-button {
  background-color: #d41717;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.cancel-button:hover {
  background-color: darkred;
}

.finish-button {
  background-color: #2605bb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.finish-button:hover {
  background-color: darkblue;
}

.mensaje-finalizacion {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c3e6cb;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
}

.mensaje-cancelacionFactura {
  background-color: #ffcccc;
  border: 1px solid #ffcccc;
  color: #cc0000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
}

.mensaje-error {
  border: 1px solid #ffcccc;
  padding: 0.3%;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  background-color: #ffcccc;
  color: #cc0000;
  font-weight: bold;
  margin-top: 6px;
}

.documento-cliente{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 5rem 0rem;
  border: #38b6ff 2px solid;
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 30px;
  width: 20rem;
  height: auto;
  box-shadow: 0px 0px 10px 0px #d9d9d9;
  text-align: center;
  margin: 0;
}

.documento-cliente > button{
  background-color: #ff5252;
  color: white;
  font-weight: bold;
  border: 1px solid #ff5252;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  transition: ease-in 0.1s;
}

.documento-cliente > button:hover{
  cursor:pointer;
  background-color: white;
  color: #ff5252;
}

.documento-cliente > button:active{
  border: 1px solid white;
}
