.facturacion-container {
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-family: Arial, sans-serif;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 2rem;
}

.product-section {
  flex: 2;
  margin-top: 15vh;
  margin-left: -30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary-section {
  flex: 1;
  margin-top: 15vh;
  margin-left: -60vh;
}

.registro-section {
  position: absolute; 
  bottom: -20px;  
  right: 44%;
  width: 100px; /* Tamaño fijo */
  border-radius: 8px;
}

.documento-section {
  position: absolute;  
  bottom: -20px;
  right: 18%;
  width: 100px;
  border-radius: 8px;
}

.button-container2 {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-left: 40vh;
  margin-top: 7vh;
  position: absolute;
}

.cancel-button {
  background-color: #d41717;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.cancel-button:hover {
  background-color: darkred;
}

.finish-button {
  background-color: #2605bb;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.finish-button:hover {
  background-color: darkblue;
}

.mensaje-finalizacion {
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c3e6cb;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
}

.mensaje-cancelacionFactura {
  background-color: #ffcccc;
  border: 1px solid #ffcccc;
  color: #cc0000;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  width: 50%;
}

.mensaje-error {
  border: 1px solid #ffcccc;
  padding: 0.3%;
  position: absolute;
  border-radius: 5px;
  text-align: center;
  background-color: #ffcccc;
  color: #cc0000;
  font-weight: bold;
  margin-top: 6px;
}


