.gest-users{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.gest-users .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-top: 80px;
}

.gest-users .header svg{
    height: 5em;
}

.gest-users h1{
    font-size: 3rem;
    margin: 0;
}

.gest-users .tableUsers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 2rem;
}

.gest-users table{
    border: #38b6ff 2px solid;
    background-color: aliceblue;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px #d9d9d9;
    border-spacing: 1rem 2rem;
    width: 100%;

    
}


.gest-users th, .gest-users td{
    font-size: 1.5rem;
    padding: 1rem 5rem;
    text-align: start;
}

.gest-users th{
    border-bottom: 1px solid #d9d9d9;
}

.gest-users .iconsRow{
    display: flex;
    gap: 2rem;
}

.iconsRow .editIcon, .iconsRow .deleteIcon{
    cursor: pointer;
    height: 2em;
    transition: color 0.3s;
}

.iconsRow .editIcon:hover{
    color: #38b6ff;
}

.iconsRow .deleteIcon:hover{
    color: #ff5252;
}

.gest-users .addUser{
    color: #38b6ff;
    cursor: pointer;

    transition: color 0.3s;
}

.gest-users .addUser:hover{
    color: #0077b6;
}

.gest-users .tableContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gest-users .tableContent h1{
    color: #38b6ff;
}