.titulo{
    background-color: #2196F3;
    margin: 0 auto;
    width: 40%;
    text-align: center;
    border-radius: 10px;
}

.cont_titulo{
    padding-top: 110px;
    height: 80px;
    display: flex;
    align-items: center;
}

.form{
    width: 50%;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

.cont_form{
    text-align: center;
    height: 100%;
}

.nombres{
    margin-top: 20px;
    margin-bottom: 5px;
    height: 20px;
}

.cont_botones{
    margin-top: 20px;
    display: flex; 
    justify-content: center; 
    gap: 3rem;
}

.boton{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 20px;
    font-size: px;
    height: auto;
    color: white;
}

.cancelar{
    background-color: #d41717;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.enviar{
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.mensaje-exito{
    background-color: #d4edda;
    color: #155724;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #c3e6cb;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 30%;
    margin-left: 450px;
}